<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
<!--     	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three"> -->
	
		<title>I am Michael Joyce</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/boxing.css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
		<body>
			<div id="container">
				<div> <%= image_tag("roomies320.png", :alt => "Roomies in Salem") %> </div>
				<div>
					<h1>I am Michael Joyce (on the right), avid tea drinker, novice rails developer, cryptocurrency fan, and couch astrophysicist.</h1>
					<div class="twitter"><a href="https://twitter.com/emteajay"><i class="fa fa-twitter"></i>@emteajay</a></div>
					
				</div>
			</div>
		</body>
	<script src="js/main.js"></script>
</html>


